.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d20b0;
  padding: 0px 10px 10px 10px;
}

.select-category {
  background-color: white;
  border-radius: 15px;
  padding: 3px;
  width: 220px;
}

.nav-a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}
