.subtitle-principal-products {
  color: #5d20b0;
  font-size: 30px;
  margin: 20px 0px 0px 30px;
}

.principal-container {
  display: flex;
  justify-content: center;
}

.principal-product {
  border: solid #5d20b0 2px;
  border-radius: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 110px;
  margin: 20px;
  cursor: pointer;
}
